<section class="speakers sect">
  <div class="container">
    <div class="sect-heading speakers-heading">
      <h2>Speaking at DevFest</h2>
      <p>
        Our speakers are influential folks & allies who have been associated
        with communities within their organisations, cities, country and beyond.
      </p>
    </div>
    <!-- Speakers Card -->
    <div class="speakers-card">
      <ng-container *ngIf="speakers?.length > 0; else noItems">
        <div class="speakers-item" *ngFor="let i of speakers">
          <div class="speakers-item-img">
            <img [src]="i.profilePicture" alt="" />
          </div>
          <div class="details">
            <h5>{{ i.fullName }}</h5>
            <p>{{ i.tagLine }}</p>
            <span class="social-icons" *ngFor="let child of i.links">
              <a [href]="child.url"><i class="bx bxl-twitter tw"></i></a>
              <!-- <a href="#"><i class="bx bxl-linkedin-square ln"></i></a> -->
            </span>
          </div>
        </div>
      </ng-container>

      <!-- If the Product List is empty -->
      <ng-template #noItems>
        <h3 class="empty-list">Loading!!!</h3>
      </ng-template>
    </div>
  </div>
</section>
