<section class="team sect">
  <div class="container">
    <div class="sect-heading team-heading">
      <h2>Meet the Team</h2>
    </div>
    <!-- Team Card -->
    <div class="team-card">
      <div class="team-item" *ngFor="let i of teamMembers">
        <div class="team-item-img">
          <img [src]="i.image" alt="" />
        </div>
        <div class="details">
          <h5>{{ i.name }}</h5>
          <p>{{ i.role }}</p>
          <span class="social-icons">
            <a [href]="i.twitter" target="_blank"
              ><i class="bx bxl-twitter tw"></i
            ></a>
            <a [href]="i.linkedin" target="_blank"
              ><i class="bx bxl-linkedin-square ln"></i
            ></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
