<div class="covid-guide">
  <p>
    <strong>Covid Guidelines:</strong> All in-person attendees will be required to wear a face mask and follow other safety protocols...
    All in-person attendees will be required to wear a face mask and follow other safety protocols...
  </p>
</div>
<!-- Header -->
<header class="header">
  <!-- Nav -->
  <div class="container">
    <!-- Logo -->
    <span routerLink="" class="nav-logo clickable">
      <img src="../../../../assets/img/logo.png" alt="" />
    </span>
    <!-- Nav link -->
    <nav class="nav-list-area">
      <ul class="nav-list" [class.open-menu]="hamClick">
        <li (click)="closeMenu()">
          <i class="bx bx-home"></i>
          <a
            class="yes"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li (click)="closeMenu()">
          <i class="bx bx-group"></i>
          <a class="yes" routerLink="/team" routerLinkActive="active-link"
            >Team</a
          >
        </li>
        <li (click)="closeMenu()">
          <i class="bx bx-notepad"></i>
          <a class="yes" routerLink="/schedule" routerLinkActive="active-link"
            >Schedule</a
          >
        </li>
        <li (click)="closeMenu()">
          <i class="bx bx-user-voice"></i>
          <a class="yes" routerLink="/speakers" routerLinkActive="active-link"
            >Speakers</a
          >
        </li>
        <li (click)="closeMenu()">
          <i class="bx bx-star"></i>
          <a class="yes" routerLink="/faq" routerLinkActive="active-link"
            >Faq</a
          >
        </li>
      </ul>

      <!-- Register btn -->
      <a href="http://bit.ly/devfest-21" target="_blank">
        <button class="btn prim-btn register-btn">Register Now</button>
      </a>

      <!-- Hamburger menu -->
      <div
        class="toggle-menu"
        id="toggle-menu"
        (click)="openMenu()"
        [class.open-menu]="hamClick"
      >
        <span class="menu-bar"></span>
      </div>
    </nav>
  </div>
</header>
