<div class="covid-guide">
  <div>
    <p>
      <strong>Covid Guidelines:</strong> Everyone will be required to wear a
      mask for the duration of the event.
    </p>
  </div>
</div>
<!-- Header -->
<header class="header">
  <!-- Nav -->
  <div class="container">
    <!-- Logo -->
    <span routerLink="" class="nav-logo clickable">
      <img src="../../../../assets/img/logo.png" alt="" />
    </span>
    <!-- Nav link -->
    <nav class="nav-list-area">
      <ul class="nav-list" [class.open-menu]="hamClick">
        <li>
          <i class="bx bx-home"></i>
          <a
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <i class="bx bx-group"></i>
          <a routerLink="/team" routerLinkActive="active-link">Team</a>
        </li>
        <li>
          <i class="bx bx-notepad"></i>
          <a routerLink="/schedule" routerLinkActive="active-link">Schedule</a>
        </li>
        <li>
          <i class="bx bx-user-voice"></i>
          <a routerLink="/speakers" routerLinkActive="active-link">Speakers</a>
        </li>
        <li>
          <i class="bx bx-star"></i>
          <a routerLink="/faq" routerLinkActive="active-link">Faq</a>
        </li>
      </ul>

      <!-- Register btn -->
      <a href="http://bit.ly/devfest-21" target="_blank">
        <button class="btn prim-btn register-btn">Register Now</button>
      </a>

      <!-- Hamburger menu -->
      <div
        class="toggle-menu"
        id="toggle-menu"
        (click)="openMenu()"
        [class.open-menu]="hamClick"
      >
        <span class="menu-bar"></span>
      </div>
    </nav>
  </div>
</header>
