<!-- Venue -->
<section class="venue sect" id="venue">
  <div class="container venue-content">
    <div class="sect-heading venue-details">
      <h2>The Venue</h2>
      <span>
        This year's DevFest Mpape is happening at
        <strong>Smart Kids Zone</strong> which is located at:
        <address>No 16 Usuma CI, Inside Maitama Amusement Park, Abuja.</address>
      </span>
    </div>
    <div class="venue-map">
      <iframe
        src="https://www.google.com/maps/place/9%C2%B005'02.3%22N+7%C2%B029'60.0%22E/@9.08398,7.4978013,17z/data=!3m1!4b1!4m6!3m5!1s0!7e2!8m2!3d9.0839797!4d7.4999902"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
