<!-- Venue -->
<section class="venue sect" id="venue">
  <div class="container venue-content">
    <div class="sect-heading venue-details">
      <h2>The Venue</h2>
      <span>
        This year's DevFest Mpape is happening at
        <strong>Smart Kids Zone</strong> which is located at:
        <address>No 16 Usuma CI, Maitama 904101, Abuja.</address>
      </span>
    </div>
    <div class="venue-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7879.590269276078!2d7.498843650893905!3d9.082419236709772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0bcf136b98bb%3A0x19ab789b8741059c!2sSMART%20KIDS%20ZONE%20ABUJA!5e0!3m2!1sen!2sng!4v1636982418383!5m2!1sen!2sng"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
