<section class="event sect">
  <div class="container">
    <div class="event-content-top">
      <div class="sect-heading event-details">
        <h2>
          Mpape’s First<br />
          Developer Conference of 2021
        </h2>
        <p>
          DevFest Mpape will be the first ever Developers Conference organized
          by Google Developer Groups Mpape. Join us an exciting event packed
          with learning, networking, experimenting and swags for few winners!
        </p>
      </div>
      <div class="event-schedule">
        <div class="event-schedule-top">
          <span class="event-schedule-time">
            <div class="heading">When</div>
            <div><i class="bx bx-calendar"></i> Dec 4th 2021</div>
            <div><i class="bx bx-time"></i> 10: 00am</div>
          </span>
          <span class="event-schedule-date">
            <div class="heading">Where</div>
            <div>
              <p>Hybrid Event</p>
              <i class="bx bx-station"></i>Online - YouTube
              <i class="bx bxl-youtube"></i>
            </div>
            <div><i class="bx bx-map"></i>In-person - Abuja</div>
          </span>
        </div>
        <div class="event-schedule-btns">
          <a href="http://bit.ly/devfest-21" target="_blank">
            <span class="btn prim-btn clickable">Register Now</span>
          </a>
          <a href="#venue">
            <span class="btn sec-btn clickable">View Location</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Event Content Card -->
    <div class="event-content-card">
      <div class="event-content-item">
        <img src="../../../assets/img/bg-yellow.jpeg" alt="" />
        <div class="details">
          <small>Dec 4th</small>
          <p>10:00 AM - 03:00 PM (GMT +1)</p>
          <h5>#DevFestMpape | Online</h5>
          <span class="watch-btn clickable">
            <a href="http://bit.ly/devfest-21"
              ><i class="bx bxs-bell-ring"></i> Set Reminder
            </a>
            <!-- <a href="#venue"><i class="bx bx-station"></i> Watch Now </a> -->
          </span>
        </div>
      </div>
      <div class="event-content-item">
        <img src="../../../assets/img/bg-yellow.jpeg" alt="" />
        <div class="details">
          <small>Dec 4th</small>
          <p>10:00 AM - 03:00 PM (GMT +1)</p>
          <h5>#DevFestMpape | In-person</h5>
          <span class="watch-btn clickable">
            <a href="#venue"><i class="bx bx-station"></i> View Location </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
