<section class="event sect">
  <div class="container">
    <div class="event-content-top">
      <div class="sect-heading event-details">
        <h2>
          Mpape’s Largest <br />
          Developer Event of 2021
        </h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          blanditiis recusandae voluptatem? Unde fugiat id, perferendis itaque
          libero tenetur! Facere iure eos sint, quisquam aperiam tempore
          consequuntur accusantium! Eligendi, explicabo?
        </p>
      </div>
      <div class="event-schedule">
        <div class="event-schedule-top">
          <span class="event-schedule-time">
            <div class="heading">When</div>
            <div><i class="bx bx-calendar"></i> Dec 4th 2021</div>
            <div><i class="bx bx-time"></i> 10: 00am</div>
          </span>
          <span class="event-schedule-date">
            <div class="heading">Where</div>
            <div>
              <i class="bx bx-station"></i> Youtube
              <i class="bx bxl-youtube"></i>
            </div>
            <div><i class="bx bx-map"></i> Mpape, Abuja</div>
          </span>
        </div>
        <div class="event-schedule-btns">
          <span routerLink="/registration" class="btn prim-btn clickable"
            >Register Now</span
          >
          <span class="btn sec-btn clickable">View Location</span>
        </div>
      </div>
    </div>

    <!-- Event Content Card -->
    <div class="event-content-card">
      <div class="event-content-item">
        <img src="../../../assets/img/home.7c51634b.jpg" alt="" />
        <div class="details">
          <small>Dec 4th</small>
          <p>10:00 AM - 03:00 PM (GMT +1)</p>
          <h5>#DevFestMpape | Online</h5>
          <span class="watch-btn clickable">
            <i class="bx bx-station"></i> Watch Now
          </span>
        </div>
      </div>
      <div class="event-content-item">
        <img src="../../../assets/img/home.7c51634b.jpg" alt="" />
        <div class="details">
          <small>Dec 4th</small>
          <p>10:00 AM - 03:00 PM (GMT +1)</p>
          <h5>#DevFestMpape | In-person</h5>
          <span class="watch-btn clickable">
            <i class="bx bx-station"></i> View Location
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
