.home-banner-area {
  width: 100%;
  height: 400px;
  position: relative;
}
.home-banner-area::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: -3rem;
  width: 70px;
  height: 70px;
  background-color: rgb(205, 223, 253);
  border-radius: 50%;
  z-index: -1;
}
.home-banner-area::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: -1rem;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 232, 205, 0.5);
  border-radius: 50%;
  z-index: -1;
}
@media only screen and (max-width: 870px) {
  .home-banner-area {
    height: 200px;
  }
}
.home-banner {
  background-image: url("../../../assets/img/home.7c51634b.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
