.sponsors {
  background-color: var(--white-color);
}
@media only screen and (min-width: 870px) {
  .sponsors-heading {
    width: 50%;
  }
}
.sponsors-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  text-align: center;
  margin-top: 3rem;
}
.sponsors-item {
  /* background-color: var(--white-color); */
  border-radius: var(--border-radius2);
  padding: 0.8rem;
}
.sponsors-item img {
  margin-bottom: 0.5rem;
  height: auto;
  width: 100%;
}
