<footer>
  <div class="container">
    <div class="footer-top">
      <h2>DevFest Mpape 2021</h2>
      <ul>
        <li class="fb"><i class="bx bxl-facebook"></i></li>
        <li class="yt"><i class="bx bxl-youtube"></i></li>
        <li class="tw"><i class="bx bxl-twitter"></i></li>
      </ul>
    </div>
    <ul class="footer-link">
      <li class="">DevFest Mpape 2021</li>
      <li class="">About GDG program</li>
      <li class="uc" routerLink="/faq">Faq</li>
      <li class="">Code of conduct</li>
      <li class="">Community Guidelines</li>
    </ul>
  </div>
  <a class="go-top clickable" (click)="scrollToTop()">
    <i class="bx bx-up-arrow-alt"></i>
  </a>
</footer>
