<footer>
  <div class="container">
    <div class="footer-top">
      <h2>DevFest Mpape 2021</h2>
      <ul>
        <li class="fb"><i class="bx bxl-facebook"></i></li>
        <li class="yt"><i class="bx bxl-youtube"></i></li>
        <li class="tw"><i class="bx bxl-twitter"></i></li>
      </ul>
    </div>
    <ul class="footer-link">
      <li class="">
        <a href="https://gdg.community.dev/gdg-mpape/" target="_blank"
          >DevFest Mpape 2021</a
        >
      </li>
      <li class="">
        <a href="https://developers.google.com/community/gdg" target="_blank"
          >About GDG program</a
        >
      </li>
      <li class="uc">
        <a routerLink="/faq">Faq</a>
      </li>
      <li class="">
        <a routerLink="/coc">Code of conduct</a>
      </li>
      <li class="">
        <a
          href="https://developers.google.com/community-guidelines"
          target="_blank"
          >Community Guidelines</a
        >
      </li>
    </ul>
  </div>
  <a class="go-top clickable" (click)="scrollToTop()">
    <i class="bx bx-up-arrow-alt"></i>
  </a>
</footer>
