<section class="faq sect">
  <div class="container">
    <div class="sect-heading faq-heading">
      <h2>Frequently asked questions</h2>
      <p>Need Answers? Everything you need to know, Find them here.</p>
    </div>
    <!-- faq Card -->
    <div class="faq-card">
      <div class="faq-item" *ngFor="let item of data; let i = index">
        <div
          class="faq-item-top accordion"
          (click)="toggleAccordian($event, i)"
        >
          <h5>{{ item.parentName }}</h5>
          <i class="bx bx-chevron-down"></i>
        </div>
        <p class="details panel" *ngFor="let child of item.childProperties">
          {{ child.propertyName }}
        </p>
      </div>
    </div>
  </div>
</section>
