<!-- Attending in person (ait) -->
<section class="ait sect" id="ait">
  <div class="container ait-content">
    <div class="sect-heading ait-details">
      <h2>Attending in Person</h2>
      <p>
        As this is a hybrid event, we have some requirements for in-person
        attendees to ensure the safety of all attendees, speakers, sponsors, and
        volunteers.
        <br />
        <br />
        All local COVID Protocols and Guidelines will be duely observed.
        <br />
        <br />
        Everyone will be required to wear a mask (unless you have a previous
        proof of exemption) for the duration of the event when inside and not
        eating or drinking.
      </p>
    </div>
    <div class="ait-img">
      <img src="../../../../assets/img/face-mask.jpg" alt="image" />
    </div>
  </div>
</section>
