<section class="schedule sect">
  <div class="container">
    <div class="sect-heading">
      <h2>This DevFest brings you the curated schedule</h2>
    </div>
    <!-- Schedule Content Card -->
    <div class="w-100">
      <div class="schedule-content-card">
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Hands-on sessions</h4>
            <p>Don’t just watch the sessions. Follow along.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Hands-on sessions</h4>
            <p>Don’t just watch the sessions. Follow along.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Hands-on sessions</h4>
            <p>Don’t just watch the sessions. Follow along.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Hands-on sessions</h4>
            <p>Don’t just watch the sessions. Follow along.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Attending in person (ait) -->
<section class="ait sect" id="ait">
  <div class="container ait-content">
    <div class="sect-heading ait-details">
      <h2>Attending in Person</h2>
      <p>
        As this is a hybrid event, we have some requirements for in-person
        attendees to ensure the safety of all attendees, speakers, sponsors, and
        volunteers.
        <br />
        <br />
        All in-person attendees will be required to show proof of vaccination or
        a negative lateral flow test taken within the last 48 hours of the event
        starting.
        <br />
        <br />
        Everyone will be required to wear a mask (unless you have a previous
        proof of exemption) for the duration of the event when inside and not
        eating or drinking.
      </p>
    </div>
    <div class="ait-img">
      <img src="../../../../assets/img/home.7c51634b.jpg" alt="image" />
    </div>
  </div>
</section>
