<section class="schedule sect">
  <div class="container">
    <div class="sect-heading">
      <h2>This DevFest brings you the curated schedule</h2>
    </div>
    <!-- Schedule Content Card -->
    <div class="w-100">
      <div class="schedule-content-card">
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Hands-on sessions</h4>
            <p>Don’t just watch the sessions. Follow along.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Roadmap For Developers</h4>
            <p>Want to become a developer? Join us to get all the answers.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Panel Discussions</h4>
            <p>Learn from the interaction of an expert group of panelists.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Networking Sessions</h4>
            <p>
              Connect with fellow attendees, speakers and community leaders.
            </p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Job Opportunities</h4>
            <p>Connect with recruiters whose requirements match your skills.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Developer Certifications</h4>
            <p>Slingshot your career with Developer Certifications.</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Swags and Goodies</h4>
            <p>Even though DevFest is online, we still have SWAGS!</p>
          </div>
        </div>
        <div class="schedule-content-item">
          <!-- <img src="../../../assets/img/home.7c51634b.jpg" alt="" /> -->
          <div class="details">
            <h4>Ice Breaker Activites</h4>
            <p>Get refreshed by participating in ice breaker activities.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
