<section class="sect">
  <div class="container">
    <h2>Code of Conduct</h2>
    <p class="coc_big_p">
      All participants of DevFest Mpape 2021 event, online attendees, event
      staff, and speakers, must abide by the following policy:
    </p>
  </div>
  <div class="container coc_container">
    <div>
      <h4>Be nice to the other attendees</h4>
      <br />
      <p>
        We're all part of the same community, so be friendly, welcoming, and
        generally a nice person. Be someone that other people want to be around.
      </p>
    </div>
    <div>
      <h4>Be respectful and constructive</h4>
      <br />
      <p>
        Remember to be respectful and constructive with your communication in
        discussions to fellow attendees. Don't get into flame wars, make
        personal attacks, vent, or rant unconstructively. Everyone should take
        responsibility for the community and take the initiative to diffuse
        tension and stop a negative thread as early as possible.
      </p>
    </div>
    <div>
      <h4>Be collaborative</h4>
      <br />
      <p>
        We are here to learn a lot from each other. Share knowledge, and help
        each other out. You may disagree with ideas, not people.
      </p>
    </div>
    <div>
      <h4>Participate</h4>
      <br />
      <p>
        Be a good listener. Be mentally present in the sessions you are
        interested in. Join in on discussions, show up for the sessions on time,
        offer feedback on your event experience, and help us get better in our
        community engagements.
      </p>
    </div>
    <div>
      <h4>Basic etiquette for online discussions</h4>
      <br />
      <p>
        If you are joining virtually, please keep off topic conversations to a minimum. Don’t be spammy by
        advertising or promoting personal projects which are off topic.
      </p>
    </div>
  </div>
</section>
